.bgvideo {
    width: 100%;
    height: 90vh;  
    position: relative;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.bgvideo video {
    width: 100%;
    height: 90vh;    
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 1;
}

.visual {
    width: 100%;
    height: 90vh;    
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.633);
}

.video-text {
    color: rgb(255, 255, 255);
    z-index: 3;
    font-weight: bold;
    position: relative;
    padding: 20px;
    margin-top: 200px; 
}



body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: white;
}

.footer {
    background-color: #f9f9f9;
    padding: 40px 20px;
    position: relative;
    background-image: url('https://img.freepik.com/free-vector/vector-white-gradient-background-modern-design_361591-4440.jpg?t=st=1718908899~exp=1718912499~hmac=4b46b8d68f2e155efdc9b0b7f7d64046bc6b751e22f2d2c836a082d96d33acd1&w=1380'); 
    background-size: cover; /* Изображение будет покрывать весь футер */
    background-position: center; /* Изображение будет центрировано */
    background-repeat: no-repeat; /* Изображение не будет повторяться */
    color: rgb(0, 0, 0); 
    overflow: hidden; 
}

.container {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.contact-info {
    width: calc(50% - 10px);
}

.form-section {
    width: calc(50% - 10px);
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 20px;
}

.form-section h2 {
    margin-top: 20px; /* Увеличенный отступ сверху */
    font-size: 40px; /* Уменьшенный размер шрифта */
}

/* Для адаптивного дизайна */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .contact-info, .form-section {
        width: 100%;
        position: static;
    }
}

.form-section form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-section label {
    font-weight: bold;
}

.form-section input,
.form-section textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-section textarea {
    resize: vertical;
}

.form-section button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-section button:hover {
    background-color: #0056b3;
}
